@model CakeItWebApp.ViewModels.Cakes.CreateCakeViewModel

<main class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <section>
                <h1 class="text-center">Create Cake</h1>
                <hr class="bg-panda hr-2" />
                <form method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="Name" class="text-center"></label>
                            <input asp-for="Name" class="form-control" placeholder="Name">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="CategoryId" class="text-center"></label>
                            <input asp-for="CategoryId" class="form-control" placeholder="Category Id">
                            <span asp-validation-for="CategoryId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="Image" class="text-center"></label>
                            <input asp-for="Image" type="url" class="form-control" placeholder="Image Url">
                            <span asp-validation-for="Image" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="Price" class="text-center"></label>
                            <input asp-for="Price" type="number" class="form-control" placeholder="Price">
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label asp-for="Description" class="text-center"></label>
                            <textarea asp-for="Description" class="form-control" rows="5" cols="50" placeholder="Description"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>

                    </div>
                    <hr class="bg-panda hr-2" />
                    <div class="button-holder d-flex justify-content-center">
                        <button type="submit" class="btn btn-info">Create Cake</button>
                    </div>
                </form>
            </section>
        </div>
    </div>
</main>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}