
<main class="container">
    <div class="alert alert-danger mt-5" role="alert">
        <h2><strong>Error!</strong></h2>
        <h3>404 Page Not Found</h3>
        <a href="javascript:void(0);" onclick="history.go(-1);" class="btn btn-info" role="button">Back</a>
    </div>
</main>