@model CakeItWebApp.ViewModels.Books.CreateBookViewModel

@{
}

<main class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <section>
                <h1 class="text-center">Add Book</h1>
                <hr class="bg-panda hr-2" />
                <form method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label asp-for="Title" class="text-center"></label>
                            <input asp-for="Title" class="form-control" placeholder="Title">
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label asp-for="Author" class="text-center"></label>
                            <input asp-for="Author" class="form-control" placeholder="Author">
                            <span asp-validation-for="Author" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label asp-for="Pages" class="text-center"></label>
                            <input asp-for="Pages" type="number" min="1" class="form-control" placeholder="Pages">
                            <span asp-validation-for="Pages" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label asp-for="Description" class="text-center"></label>
                            <textarea asp-for="Description" class="form-control" cols="50" rows="10" placeholder="Description"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label asp-for="DownloadUrl" class="text-center"></label>
                            <input asp-for="DownloadUrl" type="url" class="form-control" placeholder="Download Url">
                            <span asp-validation-for="DownloadUrl" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label asp-for="CoverUrl" class="text-center"></label>
                            <input asp-for="CoverUrl" type="url" class="form-control" placeholder="Cover Url">
                            <span asp-validation-for="CoverUrl" class="text-danger"></span>
                        </div>
                    </div>
                    <hr class="bg-panda hr-2" />
                    <div class="button-holder d-flex justify-content-center">
                        <button type="submit" class="btn btn-info">Add</button>
                    </div>
                </form>
            </section>
        </div>
    </div>
</main>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}