<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">-->
    

</head>
<body>
    <div class="container-fluid" style="margin: 2rem 10rem 2rem 10rem">
        <div class="row justify-content-center mt-5">
            <div class="jumbotron col-md-6" style="background-color: cornsilk; color:crimson">
                <h1 class="display-4" style="padding: 1rem; margin-bottom: 1em">--Title--</h1>
                <p style="font-size: 2rem; padding-left: 1rem; margin: 0.67em 0;">--Content1--</p>
                <hr class="my-4"/>
                <p style="font-size: 2rem; padding-left: 1rem; margin: 0.67em 0;">--Content2--</p>
                <div style="margin: 2rem">
                    <a class="btn btn-primary btn-lg" style="background-color:crimson; padding: 1rem; border-radius: 2px; font-size: 1rem; text-decoration: none; color: darkslategrey" href="--Url--" role="button">-- ButtonText--</a>
                </div>
            </div>
        </div>
    </div>
    

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>