@if (this.User.IsInRole("Admin"))
{
    <li class="nav-item dropdown">
        <a class="nav-link nav-link-event dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white">
           Admin Area
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" asp-controller="Cakes" asp-action="Create">Add Cake</a>
            <a class="dropdown-item" asp-controller="CustomCakes" asp-action="AddCustomCakeImg">Add Custom Cake Img</a>
            <a class="dropdown-item" asp-controller="CustomCakes" asp-action="AllCustomCakeImg">View All Custom Cake Img</a>
            <a class="dropdown-item" asp-controller="Tutorials" asp-action="AddTutorial">Add Tutorial</a>
            <a class="dropdown-item" asp-controller="Tags" asp-action="CreateTag">Add Tag</a>
            <a class="dropdown-item" asp-controller="Tags" asp-action="Index">All Tags</a>
            <a class="dropdown-item" asp-controller="Forum" asp-action="AllPosts">All Posts</a>
            <a class="dropdown-item" asp-controller="Books" asp-action="CreateBook">Add Book</a>
            <a class="dropdown-item" asp-controller="Books" asp-action="AllBooks">All Books</a>
        </div>
    </li>
}