@if (this.User.IsInRole("Admin"))
{
    <li class="nav-item dropdown">
        <a class="nav-link nav-link-event dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white">
           Admin Area
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" asp-controller="Cakes" asp-action="Create">Create Cake</a>
            <a class="dropdown-item" asp-controller="Cakes" asp-action="Edit">Edit Cake</a>
        </div>
    </li>
}