@if (this.User.Identity.IsAuthenticated)
{
    <li class="nav-item dropdown">
        <a class="nav-link nav-link-event dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white">
            My Shop
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" asp-controller="Cart" asp-action="Index">My Cart</a>
            <a class="dropdown-item" asp-controller="Orders" asp-action="Index">My Orders</a>
        </div>
    </li>
}
else
{
    <li class="nav-item">
        <a asp-controller="Cart" asp-action="Index" class="nav-link"><img src="~/images/cart.png" class="mr-1"alt=""> Cart <span></span></a>
    </li>
}