@model CakeItWebApp.ViewModels.Orders.OrderDetailsViewModel

<main class="container">
    <div class="row">
        <div class="col-md-12">
            <section>
                <h3 class="text-center mt-3">Please fill in the form to finished your order.</h3>
                <hr class="bg-panda hr-2" />
                <form method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="FirstName" class="text-center"></label>
                            <input asp-for="FirstName" class="form-control" placeholder="First Name">
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="LastName" class="text-center"></label>
                            <input asp-for="LastName" class="form-control" placeholder="Last Name">
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="Email" class="text-center"></label>
                            <input asp-for="Email" type="email" class="form-control" placeholder="Email">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="PhoneNumber" class="text-center"></label>
                            <input asp-for="PhoneNumber" type="tel" class="form-control" placeholder="+359/888888888">
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="Country" class="text-center"></label>
                            <input asp-for="Country" class="form-control" placeholder="Country">
                            <span asp-validation-for="Country" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="City" class="text-center"></label>
                            <input asp-for="City" class="form-control" placeholder="City">
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label asp-for="Address" class="text-center"></label>
                            <input asp-for="Address" class="form-control" placeholder="Aaddress">
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                    </div>
                    <hr class="bg-panda hr-2" />
                    <div class="button-holder d-flex justify-content-center">
                        <button type="submit" class="btn btn-info">Finish</button>
                    </div>
                </form>
            </section>
        </div>
    </div>
</main>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


